/*
|
| CSS By Candra Aji Pamungkas
| candraajipamungkas@gmail.com
|
*/

/* NAVBAR */
.custom-navbar{box-shadow: 10px 10px 10px #eee;background-color: #fff;}
.nav-link{color: #000000!important;}
.custom-toggler.navbar-toggler {border-color: cornflowerblue;}
.custom-toggler .navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,32,78, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
.custom-toggler .navbar-toggler-icon{width: 18px!important;}
.custom-toggler:hover{border-color: rgb(255,255,255); background-color: cornflowerblue;}
.navbar-toggler-icon:hover{background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}#logo_custom{margin-top: -6px;}
@media only screen and (max-width: 760px) { #logo_custom{width: 30%;}}

.font-arial-bold{
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-weight: bold;
}
.font-arial{
    font-family: 'Arial Rounded MT Bold', sans-serif;
}
.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.font-poppins{
  font-family: 'Poppins', sans-serif;
}

.offset-text-bg {
    display: inline-block;
    position: relative;
    opacity: 0.95;
  }
  .offset-text-bg::before {
    content: "";
    position: absolute;
    letter-spacing: 1px;
    font-size: 1vm;
    color: black;
    font-weight: 600;
    width: 100%;
    height: 100%;
    right: -15px;
    background-image: linear-gradient(#fff 60%, #ff9797 55%);
    z-index: -1;
    opacity: 0.7;
  }

.mt-100-st{
    margin-top: 100px;
}

hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.swal-footer {
  text-align: center;
}

.dropdown-toggle,
.dropdown-menu {
    border-radius: 0px !important;
}
.dropdown-item:hover {
    color: white;
    background-color: cornflowerblue;
}
.btn-danger {
    width: 55%;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}